div#container{
	padding-top:1%;
	
}
div#logo{
	background: url("../img/logo.png") no-repeat;
	width: 620px;
	height: 150px;
	margin:auto;
	padding-bottom:1%;
}
div.wide_entry{
	border:1px solid;
	background-color:#a7a7a7;
	border-radius:5px;
}
h1.h1_title{
	padding-left:5%;
	border-bottom:1px solid;
	border-bottom-color:#c7c7c7;
}
p.par{
	padding-left:2%;
}